.mainBlock {
  color: black;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-left: 10%;

}

.imgCoach {
  width: 250px;
  height: 250px;
}

.mapBlock {
  display: flex;
  flex-direction: column;
  margin: 4% 3% 3% 3%;
  background-color: white;
  // position: relative;
}

.imgBlock {
  border: 1px solid black;
}

.name {
  display: flex;
  justify-content: center;
  font-family: "Courier New";
  margin-top: 5%;
}

.description {
  display: flex;
  justify-content: center;
  font-family: "Courier";
  margin-top: 5%;
}

.btn {
  width: 70%;
  margin-left: 15%;
  border: 2px solid black;
  background-color: white;
  color: black;
  margin-top: 5%;
  margin-bottom: 3%;

  &:hover {
    background-color: #960018;
    color: white;
  }
}

.poisk {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 6vh;
  margin-left: 25%;
  border-radius: 12px;
  border: 2px solid black;
  background-color: white;
  color: black;
}

.closeBlock {
  display: flex;
  justify-content: end;
}

.closeBtn {
  background-color: white;
  border: 1px solid black;
  border-radius: 12px;
  width: 3%;
  height: 5vh;
  font-size: 20px;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #960018;
    color: white;
  }
}

.sendingBlock {
  display: flex;
  justify-content: center;
}

.sendingBtn {
  width: 25%;
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  border-radius: 15px;

  &:hover {
    background-color: #960018;
    color: white;
  }
}

.modalBlock {
  background-color: black;
  color: white;
  position: fixed;
  width: 95vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: 0.4s all;
}

.glavniyBlock {
  position: relative;
}
