main {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;

  .coachMain {
    margin: 5vh 5vw;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
    width: 100%;
    display: flex;

    .secondDiv {
      .name {
        display: flex;
        align-items: center;
        justify-content: center;

        background: url("../../images/red.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 30vh;
        width: 30vw;
        font-size: 30px;
      }

      .description {
        display: flex;
        align-items: center;
        justify-content: center;

        background: url("../../images/blue.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 30vh;
        width: 30vw;
        font-size: 26px;
        overflow: hidden;
      }
      .btn {
        outline: none;
        border: none;
        border-radius: 2vw;
        background-color: red;
        transition: 1s;
        height: 5vh;
        width: 15vw;
        margin-left: 7vw;
      }
      .btn:hover {
        background-color: rgb(168, 0, 0);
      }
    }

    img {
      width: 30%;
      height: 60%;
    }

    .form {
      padding: 30px 20px;
    }
  }

  .coachSecond {
    width: 20%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.loader,
.loader:after {
  overflow:hidden;
  border-radius: 50%;
  width: 30em;
  height: 30em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(101,171,248, 0.2);
  border-right: 1.1em solid rgba(101,171,248, 0.2);
  border-bottom: 1.1em solid rgba(101,171,248, 0.2);
  border-left: 1.1em solid #65abf8;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}