.main {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    margin: 5% 0;
    font-size: 30px;
    .editButton {
      margin-left: 45%;
      border: 1px solid black;
      padding: 1%;
      background-color: transparent;
      transition: 0.3s;
      &:hover {
        background-color: #333333;
        color: white;
      }
    }
  }

  .club {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    padding: 1% 2%;

    p {
      letter-spacing: 1px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .pdata {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    margin: 7% 0;

    p {
      letter-spacing: 1px;
      font-size: 13px;
      text-transform: uppercase;
    }

    span {
      margin: 1% 0;
    }
  }

  .manager {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    padding: 1% 2%;

    p {
      letter-spacing: 1px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }
}
